In [1]:
import pandas as pd
import numpy as np
import json
import glob
from sklearn import preprocessing

In [2]:
# Cargamos todos los archivos json que existen en la ruta seleccionada
path = r'C:\Users\Equipo\Desktop\BIG DATA\TFM\WEMOB'
all_files = glob.glob(path + "\*.json")
li = []
for filename in all_files:
    df = pd.read_json(filename, lines = True)
    li.append(df)

wemobDF = pd.concat(li)

In [3]:
wemobDF.shape

(10729032, 21)

In [4]:
df = wemobDF.copy()

In [5]:
# creamos columna id, ya que más adelante voy a separar timestamp para hacer imputaciones y eliminar NAs
# para después unir de nuevo por id, y poder mantener variable Timestamp
df['Id'] = range(1, 10729033, 1)

In [6]:
df

,Latitud,Longitud,Altitud,Timestamp,Compania,Matricula,Flota,Conductor,Odometro,Velocidad,...,TemperaturaMotor,RPM,NivelFuel,ConsumoTotal,Frenadas,TiempoRalenti,ParMotor,Pedal,Embrague,Id
0,37.390165,-5.938611,21,2020-01-21 23:11:22+00:00,ALIAGUILLA,3306JZR,TRACTORAS,--,609295.105,0.000,...,0.0,0.00,70.8,192040.5,5807.0,5847793.0,3465938.0,123438.0,NaN,1
1,37.390612,-5.938944,21,2020-01-21 23:12:22+00:00,ALIAGUILLA,3306JZR,TRACTORAS,--,609295.185,24.472,...,42.0,887.00,70.8,192040.5,5807.0,5847816.0,3465938.0,123441.0,NaN,2
2,37.391055,-5.939556,21,2020-01-21 23:13:22+00:00,ALIAGUILLA,3306JZR,TRACTORAS,--,609295.295,4.812,...,44.0,620.25,70.8,192040.5,5807.0,5847841.0,3465938.0,123441.0,NaN,3
3,37.391029,-5.939750,21,2020-01-21 23:14:22+00:00,ALIAGUILLA,3306JZR,TRACTORAS,--,609295.365,3.376,...,46.0,688.00,70.8,192041.0,5807.0,5847861.0,3465938.0,123444.0,NaN,4
4,37.390972,-5.939639,21,2020-01-22 02:55:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,--,609295.375,0.000,...,0.0,0.00,70.8,192041.0,5807.0,5847890.0,3465938.0,123444.0,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507803,39.502860,-2.269250,803,2020-06-22 21:55:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79639.815,91.748,...,78.0,1275.00,49.6,25233.0,251.0,589429.0,373818.0,6983.0,59592.0,10729028
507804,39.508390,-2.253667,802,2020-06-22 21:56:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79641.310,92.160,...,78.0,1278.00,49.2,25233.5,251.0,589429.0,373818.0,6983.0,59592.0,10729029
507805,39.513611,-2.238083,831,2020-06-22 21:57:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79642.800,87.040,...,79.0,1210.00,49.2,25234.5,251.0,589429.0,373831.0,6983.0,59592.0,10729030
507806,39.516888,-2.224333,874,2020-06-22 21:58:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79644.095,77.616,...,84.0,1388.00,49.2,25235.5,251.0,589429.0,373890.0,6983.0,59593.0,10729031
507807,39.509418,-2.211278,879,2020-06-22 21:59:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79645.550,92.160,...,86.0,1279.00,49.2,25236.5,251.0,589429.0,373915.0,6983.0,59594.0,10729032

In [7]:
df.dtypes

Latitud                         float64
Longitud                        float64
Altitud                           int64
Timestamp           datetime64[ns, UTC]
Compania                         object
Matricula                        object
Flota                            object
Conductor                        object
Odometro                        float64
Velocidad                       float64
HorasMotor                      float64
ControlCrucero                  float64
TemperaturaMotor                float64
RPM                             float64
NivelFuel                       float64
ConsumoTotal                    float64
Frenadas                        float64
TiempoRalenti                   float64
ParMotor                        float64
Pedal                           float64
Embrague                        float64
Id                                int32
dtype: object

In [8]:
df.isnull().sum()

Latitud                   0
Longitud                  0
Altitud                   0
Timestamp                 0
Compania                  0
Matricula                 0
Flota                     0
Conductor                 0
Odometro               2521
Velocidad                63
HorasMotor               70
ControlCrucero         1288
TemperaturaMotor      22466
RPM                   21697
NivelFuel             33792
ConsumoTotal         482498
Frenadas             367161
TiempoRalenti           855
ParMotor               1538
Pedal                   255
Embrague            1883566
Id                        0
dtype: int64

In [9]:
df['Compania'].unique()

array(['ALIAGUILLA'], dtype=object)

In [10]:
df['Flota'].unique()

array(['TRACTORAS'], dtype=object)

In [11]:
# Guardamos en una lista los conductores
listaConductores = df['Conductor'].unique()
listaConductores

array(['--', 'Francisco Herrera Molina', 'Antonio Rodriguez Cabezas',
       'Manuel Moreno Oropesa', 'Francisco Javier Herrera',
       'UNKNOWN E42091266R000002', 'Jose Antonio Sanchez Lopez',
       'Fernando Alfredo Guevara Benitez', 'Rosendo Gonzalez Hermida',
       'Juan Jose Francisco Reina', 'UNKNOWN E44603983Z000000',
       'Vinicius Dantas Barbosa', 'UNKNOWN E45651082S000002',
       'Antonio Librero Rubio', 'UNKNOWN E28822209N000002',
       'UNKNOWN EX5668726P000000', 'Javier Cacho',
       'UNKNOWN E71281425D000000', 'Krasimir Tsenov Ivanov',
       'Ancizar Cardona Salazar', 'Marcelino', 'Luis Vidal',
       'UNKNOWN E71290702V000010', 'Ruben Velasco', 'M.Angel Poveda',
       'UNKNOWN E44493612C000000', 'UNKNOWN E71522135R000000',
       'UNKNOWN E71449800R000001', 'Eduardo Garcia Gonzalez',
       'UNKNOWN E44430028P000002', 'Jose Maria Herrera Molina',
       'UNKNOWN E53145122B000002', 'Daniel Todorov Atanasov',
       'Jose Manuel Moreno Garcia', 'Jose Carlos Valcarcel Felipe',
       'UNKNOWN E76145351X000001', 'Valentin Galera',
       'UNKNOWN E52750360K000001', 'Antonio Olmos Lizan',
       'UNKNOWN E04601512V000002', 'Miguel Angel Beleña Barreda',
       'Sergio Lopez Rubio', 'UNKNOWN E07566474A000000',
       'Jose Jesus Martinez', 'UNKNOWN E09013046J000002',
       'UNKNOWN E53152361M000000', 'UNKNOWN E33396590S000000',
       'UNKNOWN E25356426F000000', 'UNKNOWN E30579996R000001',
       'UNKNOWN E17156408H000002', 'UNKNOWN EX6427402Y000001',
       'UNKNOWN E26316733H000001', 'Juan Jesus Sanchez Amaro',
       'Miguel Angel Caldera Caldera', 'UNKNOWN E09200656N000002',
       'Juan Carlos Benito Sanchez', 'UNKNOWN E09194512D000002',
       'Raul Llanos Garrido', 'Florencio Santos Carretero',
       'UNKNOWN EX3944367M000001', 'Alejandro Gonzalez', 'Paul Rudolf',
       'UNKNOWN EX3931303M000001', 'UNKNOWN E27482413N000002',
       'UNKNOWN E28488741K000002', 'UNKNOWN E28687465W000000',
       'UNKNOWN E28751570Y000000', 'UNKNOWN E28720666Z000012',
       'UNKNOWN EX6166311B000000', 'UNKNOWN EX5309332N000001',
       'Juan Jose Barges Parrilla', 'Rafael Moreno Serrano',
       'Juan Carlos Oliver Perez', 'Juan Carlos Pavon Quiroga',
       'UNKNOWN E30221443H000000', 'UNKNOWN E30221444L000000',
       'UNKNOWN E28672116V000000', 'Fernando Martinez Sanchez',
       'Jose Ramon Mates Merino', 'Marcos Rodrigo Olias',
       'Luis Arance Durillo', 'UNKNOWN E31317319J000001',
       'Manuel Castilla Cuesta', 'UNKNOWN E04600250C000002',
       'Abdellatif Chaairi Fatah', 'Miguel Angel Torrejon Perez',
       'Francisco Mariñas Lopez', 'UNKNOWN E47513434B000000',
       'UNKNOWN E28651242G000002', 'Francisco Rodriguez Vega',
       'Eduardo Rodriguez Saavedra', 'UNKNOWN EX4292510C000002',
       'UNKNOWN E28734888E000000', 'UNKNOWN E28912592M000000',
       'Jorge Garrido Bautista', 'UNKNOWN EX2076868Z000002',
       'UNKNOWN E32045872H000000', 'UNKNOWN E72191732E000002',
       'José Antonio Pérez Sanz', 'UNKNOWN E26236925C000001',
       'UNKNOWN E26222710L000001', 'Luis Miguel Galende Fernandez',
       'Victor Perez Blanco', 'Manuel Condiño Duque',
       'Osiris Moreno Pina', 'Antonio Gordon Gomez',
       'UNKNOWN E09192139M000001', 'Juan Carlos Garrido Nieto',
       'Jose Manuel Rodriguez Jimenez', 'UNKNOWN E41503119X000000',
       'Jose Maria Velazquez Muñoz', 'Javier Lopez Moragon',
       'Marius Oprea', 'Francisco Javier Cortinas',
       'UNKNOWN E11938185N000001', 'UNKNOWN E11760330Q000002',
       'UNKNOWN E28780165N000001', 'UNKNOWN E28729617H000002',
       'UNKNOWN E17729066E000001', 'UNKNOWN E13155352L000001',
       'UNKNOWN EY5756898N000000', 'UNKNOWN E71795900C000000',
       'Jose Enrique Gallach Benavent', 'UNKNOWN E28876389G000000',
       'Pedro Antonio Soria Briones', 'UNKNOWN E47510406L000002',
       'UNKNOWN E28721983C000002', 'David Gomez Marcos',
       'Agustin Lopez Lopez', 'Jose Antonio Tiscar Tamborero',
       'Manuel Santiago', 'Jose Ortega', 'Antonio Lopez Villarejo',
       'Lorenzo Aguilar Cisneros', 'UNKNOWN E26505707R000000',
       'Arley Vasquez Valencia', 'UNKNOWN EX3535177P000001',
       'UNKNOWN E76121331W000002', 'Jose Cesar Acosta Paz',
       'Emilio Perez Gonzalez', 'Jaime Luis Beneitez Nuñez',
       'UNKNOWN E45683000D000001', 'UNKNOWN E26495870P000000',
       'UNKNOWN DB17215162062200', 'UNKNOWN E33406752B000000',
       'UNKNOWN E54606484E000000', 'UNKNOWN E30221354K000001',
       'UNKNOWN E46649204Y000002', 'UNKNOWN E71562481M000001',
       'Jose Martinez Alonso', 'UNKNOWN E71554644B000000',
       'Emilio Remesal Guzman', 'UNKNOWN E53008614P000002',
       'UNKNOWN EX9130800F000000', 'UNKNOWN E72324662N000000',
       'UNKNOWN E71561986Q000000', 'UNKNOWN E11962992W000002',
       'Manuel Martinez Garcia', 'Jose Manuel Fernandez Gonzalez',
       'Angel Santos Ferrero Garcia', 'Juan Carlos Calvo',
       'Domingo Pastrian', 'Jose Antonio Villote',
       'Antonio Martinez Bravo', 'UNKNOWN E10071510V000002',
       'UNKNOWN E71521960X000000', 'Juan Francisco Carmona',
       'Manuel Aroca', 'Tomas Criado Ramos', 'David Laup Cañizares',
       'Jose Maria Nieto Aparicio', 'UNKNOWN E08857573C000002',
       'UNKNOWN E09796958Q000000', 'UNKNOWN E78886414W000000',
       'UNKNOWN E76958809G000000', 'Rafael Colinas Fernandez',
       'UNKNOWN E36156867Q000000', 'Gonzalo Toral Alonso',
       'UNKNOWN EX0826353D000000', 'UNKNOWN EX2127903N000000', 'Dinitar',
       'Francisco Javier Rusillo Camara', 'UNKNOWN E52518308Q000002',
       'UNKNOWN E74624938N000002', 'UNKNOWN E45714488X000002',
       'Francisco Javier Alvarez Lobo', 'UNKNOWN E52757047S000001',
       'Francisco Rodriguez Marin', 'UNKNOWN E48391769E000000',
       'UNKNOWN E72999580H000001', 'UNKNOWN EY3298883F000000',
       'UNKNOWN E04615090W000002', 'UNKNOWN E46666268G000002',
       'UNKNOWN E76116510B000002', 'UNKNOWN E76134736K000000',
       'UNKNOWN E11968231C000001', 'UNKNOWN E11964534A000002',
       'UNKNOWN E24393811B000011', 'UNKNOWN 0000000007WF3000',
       'UNKNOWN E24354356R000001', 'UNKNOWN E46595395V000002',
       'UNKNOWN E46795999S000001', 'UNKNOWN E47396371H000001',
       'UNKNOWN E74521260H000000', 'UNKNOWN E52751395K000001',
       'UNKNOWN E52754235D000002', 'Pedro Campoy Moya',
       'Jose Damian Garrido Fresneda', 'UNKNOWN E07539810L000002',
       'Constantin Dan Antonia', 'UNKNOWN E71525750M000000',
       'UNKNOWN E71515584M000010', 'UNKNOWN EX3167714Q000012',
       'Tomas Gutierrez Pizarro', 'Abel De Paz Hidalgo',
       'Santiago J Bermejo Blanco', 'UNKNOWN EX2602505D000000',
       'UNKNOWN EX2602500G000001', 'UNKNOWN EX5630307E000001',
       'UNKNOWN EX8754112J000000', 'UNKNOWN EX7369614T000000',
       'UNKNOWN E26222576T000001', 'UNKNOWN E26208934C000000',
       'UNKNOWN EX6745756V000002', 'UNKNOWN E13152297T000000',
       'Juan Carlos Calle Vasquez', 'UNKNOWN EX3865009C000000',
       'UNKNOWN EY0425501S000000', 'UNKNOWN E34055391G000000',
       'UNKNOWN E71096406W000001', 'Tomas Blanco',
       'UNKNOWN E71561726D000000', 'UNKNOWN E10182265G000000',
       'UNKNOWN E07551062R000002', 'UNKNOWN E11964799S000002',
       'UNKNOWN E45683856Z000000', 'Jose Ramon Ruiz',
       'UNKNOWN EX2580100Y000001', 'UNKNOWN E48434438A000002',
       'Miguel Angel Gonzalez Jimenez', 'UNKNOWN EX3658302Z000000',
       'UNKNOWN E49128645R000000', 'UNKNOWN E28496633R000002',
       'UNKNOWN E28914857Q000000', 'UNKNOWN E44954022Q000001',
       'UNKNOWN E76014110F000002', 'UNKNOWN E18933973M000002',
       'UNKNOWN EX8672814C000000', 'UNKNOWN E13157918D000002',
       'UNKNOWN E71447456A000000', 'UNKNOWN E52665039F000001',
       'UNKNOWN E45684555T000001', 'UNKNOWN E54525760M000000',
       'UNKNOWN E19092330F000002', 'UNKNOWN E13140443Z000001',
       'UNKNOWN E71277536F000021', 'UNKNOWN E71796684E000000',
       'UNKNOWN E39736323M000001', 'UNKNOWN E22597763X000000',
       'UNKNOWN E77811520J000000', 'UNKNOWN E52680179J000000',
       'UNKNOWN E46596283P000002', 'UNKNOWN E10059707J000001',
       'UNKNOWN EX6394653D000001', 'UNKNOWN E11969878B000001',
       'UNKNOWN E13158733L000001', 'Julio Sahuquillo Saiz',
       'UNKNOWN EX6954344H000001', 'UNKNOWN E24365964V000002',
       'UNKNOWN E29591464D000000', 'UNKNOWN EX6781465F000001',
       'UNKNOWN E71007267B000001', 'UNKNOWN EX3250513S000000',
       'UNKNOWN E45810683L000000', 'UNKNOWN E14618992P000000',
       'UNKNOWN E10205133X000000', 'UNKNOWN E28943440X000001',
       'UNKNOWN EX4007716N000000', 'UNKNOWN E44426671D000000',
       'UNKNOWN E52576625M000002', 'UNKNOWN E09775569V000001',
       'Jose Antonio Guirado Moreno', 'UNKNOWN E71025164Z000001',
       'UNKNOWN E76013259F000002', 'UNKNOWN E45682090L000001',
       'UNKNOWN E71028397G000000', 'UNKNOWN E71710198Q000001',
       'UNKNOWN EX6168822S000002', 'UNKNOWN E44578362S000000',
       'UNKNOWN EX3407366P000002', 'UNKNOWN EX7305688Z000011',
       'UNKNOWN E25084514R000002', 'UNKNOWN E33407274G000100'],
      dtype=object)

In [12]:
# Contamos los conductores, restamos uno por los desconocidos que aparecen como --
print("Existen un total de " + str(len(listaConductores)-1) + " conductores")

Existen un total de 292 conductores

Nos interesan los conductores con valor '--', para eliminarlos por ser desconocidos, los pasamos a Nan y luego eliminamos.

In [13]:
df['Conductor'].replace('--', np.nan, inplace=True)

In [14]:
df = df.dropna(axis=0, subset=['Conductor'])

In [15]:
df.shape

(10323170, 22)

In [16]:
# Vemos como quedaría la conversión de conductores
le = preprocessing.LabelEncoder()
le.fit(df['Conductor'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Abdellatif Chaairi Fatah': 0, 'Abel De Paz Hidalgo': 1, 'Agustin Lopez Lopez': 2, 'Alejandro Gonzalez': 3, 'Ancizar Cardona Salazar': 4, 'Angel Santos Ferrero Garcia': 5, 'Antonio Gordon Gomez': 6, 'Antonio Librero Rubio': 7, 'Antonio Lopez Villarejo': 8, 'Antonio Martinez Bravo': 9, 'Antonio Olmos Lizan': 10, 'Antonio Rodriguez Cabezas': 11, 'Arley Vasquez Valencia': 12, 'Constantin Dan Antonia': 13, 'Daniel Todorov Atanasov': 14, 'David Gomez Marcos': 15, 'David Laup Cañizares': 16, 'Dinitar': 17, 'Domingo Pastrian': 18, 'Eduardo Garcia Gonzalez': 19, 'Eduardo Rodriguez Saavedra': 20, 'Emilio Perez Gonzalez': 21, 'Emilio Remesal Guzman': 22, 'Fernando Alfredo Guevara Benitez': 23, 'Fernando Martinez Sanchez': 24, 'Florencio Santos Carretero': 25, 'Francisco Herrera Molina': 26, 'Francisco Javier Alvarez Lobo': 27, 'Francisco Javier Cortinas': 28, 'Francisco Javier Herrera': 29, 'Francisco Javier Rusillo Camara': 30, 'Francisco Mariñas Lopez': 31, 'Francisco Rodriguez Marin': 32, 'Francisco Rodriguez Vega': 33, 'Gonzalo Toral Alonso': 34, 'Jaime Luis Beneitez Nuñez': 35, 'Javier Cacho': 36, 'Javier Lopez Moragon': 37, 'Jorge Garrido Bautista': 38, 'Jose Antonio Guirado Moreno': 39, 'Jose Antonio Sanchez Lopez': 40, 'Jose Antonio Tiscar Tamborero': 41, 'Jose Antonio Villote': 42, 'Jose Carlos Valcarcel Felipe': 43, 'Jose Cesar Acosta Paz': 44, 'Jose Damian Garrido Fresneda': 45, 'Jose Enrique Gallach Benavent': 46, 'Jose Jesus Martinez': 47, 'Jose Manuel Fernandez Gonzalez': 48, 'Jose Manuel Moreno Garcia': 49, 'Jose Manuel Rodriguez Jimenez': 50, 'Jose Maria Herrera Molina': 51, 'Jose Maria Nieto Aparicio': 52, 'Jose Maria Velazquez Muñoz': 53, 'Jose Martinez Alonso': 54, 'Jose Ortega': 55, 'Jose Ramon Mates Merino': 56, 'Jose Ramon Ruiz': 57, 'José Antonio Pérez Sanz': 58, 'Juan Carlos Benito Sanchez': 59, 'Juan Carlos Calle Vasquez': 60, 'Juan Carlos Calvo': 61, 'Juan Carlos Garrido Nieto': 62, 'Juan Carlos Oliver Perez': 63, 'Juan Carlos Pavon Quiroga': 64, 'Juan Francisco Carmona': 65, 'Juan Jesus Sanchez Amaro': 66, 'Juan Jose Barges Parrilla': 67, 'Juan Jose Francisco Reina': 68, 'Julio Sahuquillo Saiz': 69, 'Krasimir Tsenov Ivanov': 70, 'Lorenzo Aguilar Cisneros': 71, 'Luis Arance Durillo': 72, 'Luis Miguel Galende Fernandez': 73, 'Luis Vidal': 74, 'M.Angel Poveda': 75, 'Manuel Aroca': 76, 'Manuel Castilla Cuesta': 77, 'Manuel Condiño Duque': 78, 'Manuel Martinez Garcia': 79, 'Manuel Moreno Oropesa': 80, 'Manuel Santiago': 81, 'Marcelino': 82, 'Marcos Rodrigo Olias': 83, 'Marius Oprea': 84, 'Miguel Angel Beleña Barreda': 85, 'Miguel Angel Caldera Caldera': 86, 'Miguel Angel Gonzalez Jimenez': 87, 'Miguel Angel Torrejon Perez': 88, 'Osiris Moreno Pina': 89, 'Paul Rudolf': 90, 'Pedro Antonio Soria Briones': 91, 'Pedro Campoy Moya': 92, 'Rafael Colinas Fernandez': 93, 'Rafael Moreno Serrano': 94, 'Raul Llanos Garrido': 95, 'Rosendo Gonzalez Hermida': 96, 'Ruben Velasco': 97, 'Santiago J Bermejo Blanco': 98, 'Sergio Lopez Rubio': 99, 'Tomas Blanco': 100, 'Tomas Criado Ramos': 101, 'Tomas Gutierrez Pizarro': 102, 'UNKNOWN 0000000007WF3000': 103, 'UNKNOWN DB17215162062200': 104, 'UNKNOWN E04600250C000002': 105, 'UNKNOWN E04601512V000002': 106, 'UNKNOWN E04615090W000002': 107, 'UNKNOWN E07539810L000002': 108, 'UNKNOWN E07551062R000002': 109, 'UNKNOWN E07566474A000000': 110, 'UNKNOWN E08857573C000002': 111, 'UNKNOWN E09013046J000002': 112, 'UNKNOWN E09192139M000001': 113, 'UNKNOWN E09194512D000002': 114, 'UNKNOWN E09200656N000002': 115, 'UNKNOWN E09775569V000001': 116, 'UNKNOWN E09796958Q000000': 117, 'UNKNOWN E10059707J000001': 118, 'UNKNOWN E10071510V000002': 119, 'UNKNOWN E10182265G000000': 120, 'UNKNOWN E10205133X000000': 121, 'UNKNOWN E11760330Q000002': 122, 'UNKNOWN E11938185N000001': 123, 'UNKNOWN E11962992W000002': 124, 'UNKNOWN E11964534A000002': 125, 'UNKNOWN E11964799S000002': 126, 'UNKNOWN E11968231C000001': 127, 'UNKNOWN E11969878B000001': 128, 'UNKNOWN E13140443Z000001': 129, 'UNKNOWN E13152297T000000': 130, 'UNKNOWN E13155352L000001': 131, 'UNKNOWN E13157918D000002': 132, 'UNKNOWN E13158733L000001': 133, 'UNKNOWN E14618992P000000': 134, 'UNKNOWN E17156408H000002': 135, 'UNKNOWN E17729066E000001': 136, 'UNKNOWN E18933973M000002': 137, 'UNKNOWN E19092330F000002': 138, 'UNKNOWN E22597763X000000': 139, 'UNKNOWN E24354356R000001': 140, 'UNKNOWN E24365964V000002': 141, 'UNKNOWN E24393811B000011': 142, 'UNKNOWN E25084514R000002': 143, 'UNKNOWN E25356426F000000': 144, 'UNKNOWN E26208934C000000': 145, 'UNKNOWN E26222576T000001': 146, 'UNKNOWN E26222710L000001': 147, 'UNKNOWN E26236925C000001': 148, 'UNKNOWN E26316733H000001': 149, 'UNKNOWN E26495870P000000': 150, 'UNKNOWN E26505707R000000': 151, 'UNKNOWN E27482413N000002': 152, 'UNKNOWN E28488741K000002': 153, 'UNKNOWN E28496633R000002': 154, 'UNKNOWN E28651242G000002': 155, 'UNKNOWN E28672116V000000': 156, 'UNKNOWN E28687465W000000': 157, 'UNKNOWN E28720666Z000012': 158, 'UNKNOWN E28721983C000002': 159, 'UNKNOWN E28729617H000002': 160, 'UNKNOWN E28734888E000000': 161, 'UNKNOWN E28751570Y000000': 162, 'UNKNOWN E28780165N000001': 163, 'UNKNOWN E28822209N000002': 164, 'UNKNOWN E28876389G000000': 165, 'UNKNOWN E28912592M000000': 166, 'UNKNOWN E28914857Q000000': 167, 'UNKNOWN E28943440X000001': 168, 'UNKNOWN E29591464D000000': 169, 'UNKNOWN E30221354K000001': 170, 'UNKNOWN E30221443H000000': 171, 'UNKNOWN E30221444L000000': 172, 'UNKNOWN E30579996R000001': 173, 'UNKNOWN E31317319J000001': 174, 'UNKNOWN E32045872H000000': 175, 'UNKNOWN E33396590S000000': 176, 'UNKNOWN E33406752B000000': 177, 'UNKNOWN E33407274G000100': 178, 'UNKNOWN E34055391G000000': 179, 'UNKNOWN E36156867Q000000': 180, 'UNKNOWN E39736323M000001': 181, 'UNKNOWN E41503119X000000': 182, 'UNKNOWN E42091266R000002': 183, 'UNKNOWN E44426671D000000': 184, 'UNKNOWN E44430028P000002': 185, 'UNKNOWN E44493612C000000': 186, 'UNKNOWN E44578362S000000': 187, 'UNKNOWN E44603983Z000000': 188, 'UNKNOWN E44954022Q000001': 189, 'UNKNOWN E45651082S000002': 190, 'UNKNOWN E45682090L000001': 191, 'UNKNOWN E45683000D000001': 192, 'UNKNOWN E45683856Z000000': 193, 'UNKNOWN E45684555T000001': 194, 'UNKNOWN E45714488X000002': 195, 'UNKNOWN E45810683L000000': 196, 'UNKNOWN E46595395V000002': 197, 'UNKNOWN E46596283P000002': 198, 'UNKNOWN E46649204Y000002': 199, 'UNKNOWN E46666268G000002': 200, 'UNKNOWN E46795999S000001': 201, 'UNKNOWN E47396371H000001': 202, 'UNKNOWN E47510406L000002': 203, 'UNKNOWN E47513434B000000': 204, 'UNKNOWN E48391769E000000': 205, 'UNKNOWN E48434438A000002': 206, 'UNKNOWN E49128645R000000': 207, 'UNKNOWN E52518308Q000002': 208, 'UNKNOWN E52576625M000002': 209, 'UNKNOWN E52665039F000001': 210, 'UNKNOWN E52680179J000000': 211, 'UNKNOWN E52750360K000001': 212, 'UNKNOWN E52751395K000001': 213, 'UNKNOWN E52754235D000002': 214, 'UNKNOWN E52757047S000001': 215, 'UNKNOWN E53008614P000002': 216, 'UNKNOWN E53145122B000002': 217, 'UNKNOWN E53152361M000000': 218, 'UNKNOWN E54525760M000000': 219, 'UNKNOWN E54606484E000000': 220, 'UNKNOWN E71007267B000001': 221, 'UNKNOWN E71025164Z000001': 222, 'UNKNOWN E71028397G000000': 223, 'UNKNOWN E71096406W000001': 224, 'UNKNOWN E71277536F000021': 225, 'UNKNOWN E71281425D000000': 226, 'UNKNOWN E71290702V000010': 227, 'UNKNOWN E71447456A000000': 228, 'UNKNOWN E71449800R000001': 229, 'UNKNOWN E71515584M000010': 230, 'UNKNOWN E71521960X000000': 231, 'UNKNOWN E71522135R000000': 232, 'UNKNOWN E71525750M000000': 233, 'UNKNOWN E71554644B000000': 234, 'UNKNOWN E71561726D000000': 235, 'UNKNOWN E71561986Q000000': 236, 'UNKNOWN E71562481M000001': 237, 'UNKNOWN E71710198Q000001': 238, 'UNKNOWN E71795900C000000': 239, 'UNKNOWN E71796684E000000': 240, 'UNKNOWN E72191732E000002': 241, 'UNKNOWN E72324662N000000': 242, 'UNKNOWN E72999580H000001': 243, 'UNKNOWN E74521260H000000': 244, 'UNKNOWN E74624938N000002': 245, 'UNKNOWN E76013259F000002': 246, 'UNKNOWN E76014110F000002': 247, 'UNKNOWN E76116510B000002': 248, 'UNKNOWN E76121331W000002': 249, 'UNKNOWN E76134736K000000': 250, 'UNKNOWN E76145351X000001': 251, 'UNKNOWN E76958809G000000': 252, 'UNKNOWN E77811520J000000': 253, 'UNKNOWN E78886414W000000': 254, 'UNKNOWN EX0826353D000000': 255, 'UNKNOWN EX2076868Z000002': 256, 'UNKNOWN EX2127903N000000': 257, 'UNKNOWN EX2580100Y000001': 258, 'UNKNOWN EX2602500G000001': 259, 'UNKNOWN EX2602505D000000': 260, 'UNKNOWN EX3167714Q000012': 261, 'UNKNOWN EX3250513S000000': 262, 'UNKNOWN EX3407366P000002': 263, 'UNKNOWN EX3535177P000001': 264, 'UNKNOWN EX3658302Z000000': 265, 'UNKNOWN EX3865009C000000': 266, 'UNKNOWN EX3931303M000001': 267, 'UNKNOWN EX3944367M000001': 268, 'UNKNOWN EX4007716N000000': 269, 'UNKNOWN EX4292510C000002': 270, 'UNKNOWN EX5309332N000001': 271, 'UNKNOWN EX5630307E000001': 272, 'UNKNOWN EX5668726P000000': 273, 'UNKNOWN EX6166311B000000': 274, 'UNKNOWN EX6168822S000002': 275, 'UNKNOWN EX6394653D000001': 276, 'UNKNOWN EX6427402Y000001': 277, 'UNKNOWN EX6745756V000002': 278, 'UNKNOWN EX6781465F000001': 279, 'UNKNOWN EX6954344H000001': 280, 'UNKNOWN EX7305688Z000011': 281, 'UNKNOWN EX7369614T000000': 282, 'UNKNOWN EX8672814C000000': 283, 'UNKNOWN EX8754112J000000': 284, 'UNKNOWN EX9130800F000000': 285, 'UNKNOWN EY0425501S000000': 286, 'UNKNOWN EY3298883F000000': 287, 'UNKNOWN EY5756898N000000': 288, 'Valentin Galera': 289, 'Victor Perez Blanco': 290, 'Vinicius Dantas Barbosa': 291}

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
## Encode target labels with value between 0 and n_classes-1., lo transforma en frecuencia
transform1 = LabelEncoder()
transform1.fit_transform(listaConductores)
df['ConductorNum'] = transform1.transform(df['Conductor'])

C:\Users\Equipo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
df.dtypes

Latitud                         float64
Longitud                        float64
Altitud                           int64
Timestamp           datetime64[ns, UTC]
Compania                         object
Matricula                        object
Flota                            object
Conductor                        object
Odometro                        float64
Velocidad                       float64
HorasMotor                      float64
ControlCrucero                  float64
TemperaturaMotor                float64
RPM                             float64
NivelFuel                       float64
ConsumoTotal                    float64
Frenadas                        float64
TiempoRalenti                   float64
ParMotor                        float64
Pedal                           float64
Embrague                        float64
Id                                int32
ConductorNum                      int32
dtype: object

In [20]:
df.head()

,Latitud,Longitud,Altitud,Timestamp,Compania,Matricula,Flota,Conductor,Odometro,Velocidad,...,RPM,NivelFuel,ConsumoTotal,Frenadas,TiempoRalenti,ParMotor,Pedal,Embrague,Id,ConductorNum
6,37.390972,-5.939639,21,2020-01-22 02:57:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.0,...,549.75,70.4,192041.0,5807.0,5847999.0,3465938.0,123444.0,NaN,7,27
7,37.390972,-5.939639,21,2020-01-22 02:58:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.0,...,549.25,70.4,192041.0,5807.0,5848059.0,3465938.0,123444.0,NaN,8,27
8,37.390972,-5.939639,21,2020-01-22 02:59:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.0,...,549.00,70.4,192041.0,5807.0,5848119.0,3465938.0,123444.0,NaN,9,27
9,37.390972,-5.939639,21,2020-01-22 03:00:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.0,...,550.00,70.4,192041.0,5807.0,5848179.0,3465938.0,123444.0,NaN,10,27
10,37.390972,-5.939639,21,2020-01-22 03:01:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.0,...,548.75,70.4,192041.0,5807.0,5848239.0,3465938.0,123444.0,NaN,11,27

In [21]:
# Vemos como quedaría la conversión (esto hay que verificarlo) de matriculas, salen 112 matrículas
le = preprocessing.LabelEncoder()
le.fit(df['Matricula'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'\t7663JYK': 0, '0254JFX': 1, '0257JFX': 2, '0806JYG': 3, '1222JFR': 4, '1371KNV': 5, '1372KNV': 6, '1382JKN': 7, '1395KNV': 8, '1413KNV': 9, '1505KJF': 10, '1510KJF': 11, '1511KJF': 12, '1628KKC': 13, '1632KKC': 14, '1635KKC': 15, '1636KKC': 16, '1637KKC': 17, '1834HVB': 18, '2187KMV': 19, '2188KMV': 20, '2193KMV': 21, '2195JJJ': 22, '2195KMV': 23, '2214KMV': 24, '2228KLR': 25, '2246KLR': 26, '2351KLR': 27, '2568HTX': 28, '2574HTX': 29, '2606KRC': 30, '2607KRC': 31, '2737JXG': 32, '2739JXG': 33, '2861JBT': 34, '2868HWN': 35, '3067JBD': 36, '3214JTT': 37, '3301JZR': 38, '3303JZR': 39, '3304JZR': 40, '3306JZR': 41, '3307JZR': 42, '3308JZR': 43, '3534KGB': 44, '3536KGB': 45, '3537KGB': 46, '3893HCX': 47, '3896JBL': 48, '3897JBL': 49, '4053KWY': 50, '4054KWY': 51, '4056KWY': 52, '4058KWY': 53, '4059KWY': 54, '4060KWY': 55, '4061KWY': 56, '4062KWY': 57, '4063KWY': 58, '4065KWY': 59, '4391JLC': 60, '4774KTM': 61, '4838LGF': 62, '5497LFN ITER FRUGAL': 63, '5498LFN ITER FRUGAL': 64, '5525LBN': 65, '5526LBN': 66, '5527LBN': 67, '5532LBN': 68, '5729JCN': 69, '5994JXP': 70, '6002KLH': 71, '6061KLH': 72, '7066JWW': 73, '7069JWW': 74, '7110HZM': 75, '7133JST': 76, '7170LDY': 77, '7171LDY': 78, '7438JYD': 79, '7441JYD': 80, '7472KPF': 81, '7480KPF': 82, '7482KPF': 83, '7500KPF': 84, '7594KPF-BAJA': 85, '7652JYK': 86, '7657JYK': 87, '7945HPF': 88, '8133JXN': 89, '8134JXN': 90, '8265LFH': 91, '8386LCK ITER FRUGAL': 92, '8429KRZ': 93, '8437KRZ': 94, '8440KRZ': 95, '8445KRZ': 96, '8454KRZ': 97, '8455KRZ': 98, '8496KRZ': 99, '8579HRZ': 100, '8591KSD': 101, '8592KSD': 102, '8596KSD': 103, '8598KSD': 104, '8599KSD': 105, '8675JFB': 106, '8806KRZ': 107, '8810KRZ': 108, '8898KGW': 109, '8900KGW': 110, '8909KGW': 111, '8980KRZ': 112, '9223LFF': 113, '9238KGK': 114, '9242LFF': 115, '9269HWC': 116, '9278HWC': 117, '9311JFL': 118, '9357JWP': 119, '9363JWP': 120, '9530JFP': 121, '9537JFP': 122, '9611HVT': 123, '9770JLR': 124, 'STOP_2267KFW RIGIDO': 125}

In [22]:
# Guardamos en una lista las matrículas
listaMatriculas = df['Matricula'].unique()
listaMatriculas

array(['3306JZR', '3303JZR', '8675JFB', '3536KGB', '1834HVB', '3537KGB',
       '7170LDY', '7066JWW', '3534KGB', '7069JWW', '0257JFX', '8900KGW',
       '8898KGW', '2195JJJ', '2568HTX', '0806JYG', '7133JST', '8599KSD',
       '7657JYK', '\t7663JYK', '2861JBT', '4774KTM', '2574HTX', '8909KGW',
       '3897JBL', '9311JFL', '2607KRC', '0254JFX', '3307JZR', '9357JWP',
       '3301JZR', '9530JFP', '8134JXN', '9278HWC', '2214KMV', '9363JWP',
       '1510KJF', '9238KGK', '4391JLC', '3304JZR', '8592KSD', '1505KJF',
       '1635KKC', '1511KJF', '1222JFR', '1636KKC', '8579HRZ', '6002KLH',
       '2228KLR', '6061KLH', '2351KLR', '7438JYD', '9269HWC', '1382JKN',
       '2188KMV', '2193KMV', '2195KMV', '2246KLR', '2187KMV', '7441JYD',
       '1413KNV', '3067JBD', '1395KNV', '1372KNV', '7482KPF',
       '7594KPF-BAJA', '7500KPF', '7480KPF', '8133JXN', '1637KKC',
       '2606KRC', '8810KRZ', '8980KRZ', '8445KRZ', '8429KRZ', '8806KRZ',
       '8496KRZ', '8440KRZ', '8454KRZ', '8591KSD', '8598KSD', '8596KSD',
       '8437KRZ', '4054KWY', '7652JYK', '4061KWY', '8455KRZ', '4059KWY',
       '4065KWY', '4053KWY', '4060KWY', '4058KWY', '4056KWY', '4062KWY',
       '2737JXG', '3896JBL', '5526LBN', '5527LBN', '7110HZM', '5729JCN',
       '3308JZR', '5532LBN', '5525LBN', '9770JLR', '3893HCX', '2739JXG',
       '2868HWN', '1632KKC', '9611HVT', '8386LCK ITER FRUGAL', '4838LGF',
       '1628KKC', '7171LDY', '9537JFP', '3214JTT', '4063KWY', '9242LFF',
       '9223LFF', '7472KPF', '8265LFH', '5498LFN ITER FRUGAL',
       '5497LFN ITER FRUGAL', '7945HPF', '5994JXP', '1371KNV',
       'STOP_2267KFW RIGIDO'], dtype=object)

In [23]:
## Encode target labels with value between 0 and n_classes-1., lo transforma en frecuencia
transform2 = LabelEncoder()
transform2.fit_transform(listaMatriculas)
df['MatriculaNum'] = transform2.transform(df['Matricula'])

C:\Users\Equipo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [24]:
df

,Latitud,Longitud,Altitud,Timestamp,Compania,Matricula,Flota,Conductor,Odometro,Velocidad,...,NivelFuel,ConsumoTotal,Frenadas,TiempoRalenti,ParMotor,Pedal,Embrague,Id,ConductorNum,MatriculaNum
6,37.390972,-5.939639,21,2020-01-22 02:57:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.000,...,70.4,192041.0,5807.0,5847999.0,3465938.0,123444.0,NaN,7,27,41
7,37.390972,-5.939639,21,2020-01-22 02:58:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.000,...,70.4,192041.0,5807.0,5848059.0,3465938.0,123444.0,NaN,8,27,41
8,37.390972,-5.939639,21,2020-01-22 02:59:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.000,...,70.4,192041.0,5807.0,5848119.0,3465938.0,123444.0,NaN,9,27,41
9,37.390972,-5.939639,21,2020-01-22 03:00:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.000,...,70.4,192041.0,5807.0,5848179.0,3465938.0,123444.0,NaN,10,27,41
10,37.390972,-5.939639,21,2020-01-22 03:01:01+00:00,ALIAGUILLA,3306JZR,TRACTORAS,Francisco Herrera Molina,609295.375,0.000,...,70.4,192041.0,5807.0,5848239.0,3465938.0,123444.0,NaN,11,27,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507803,39.502860,-2.269250,803,2020-06-22 21:55:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79639.815,91.748,...,49.6,25233.0,251.0,589429.0,373818.0,6983.0,59592.0,10729028,157,63
507804,39.508390,-2.253667,802,2020-06-22 21:56:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79641.310,92.160,...,49.2,25233.5,251.0,589429.0,373818.0,6983.0,59592.0,10729029,157,63
507805,39.513611,-2.238083,831,2020-06-22 21:57:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79642.800,87.040,...,49.2,25234.5,251.0,589429.0,373831.0,6983.0,59592.0,10729030,157,63
507806,39.516888,-2.224333,874,2020-06-22 21:58:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79644.095,77.616,...,49.2,25235.5,251.0,589429.0,373890.0,6983.0,59593.0,10729031,157,63
507807,39.509418,-2.211278,879,2020-06-22 21:59:46+00:00,ALIAGUILLA,5497LFN ITER FRUGAL,TRACTORAS,UNKNOWN E28672116V000000,79645.550,92.160,...,49.2,25236.5,251.0,589429.0,373915.0,6983.0,59594.0,10729032,157,63

In [25]:
df.dtypes

Latitud                         float64
Longitud                        float64
Altitud                           int64
Timestamp           datetime64[ns, UTC]
Compania                         object
Matricula                        object
Flota                            object
Conductor                        object
Odometro                        float64
Velocidad                       float64
HorasMotor                      float64
ControlCrucero                  float64
TemperaturaMotor                float64
RPM                             float64
NivelFuel                       float64
ConsumoTotal                    float64
Frenadas                        float64
TiempoRalenti                   float64
ParMotor                        float64
Pedal                           float64
Embrague                        float64
Id                                int32
ConductorNum                      int32
MatriculaNum                      int32
dtype: object

In [26]:
df.isnull().sum()

Latitud                   0
Longitud                  0
Altitud                   0
Timestamp                 0
Compania                  0
Matricula                 0
Flota                     0
Conductor                 0
Odometro               2443
Velocidad                53
HorasMotor               61
ControlCrucero          736
TemperaturaMotor       1303
RPM                     749
NivelFuel             27761
ConsumoTotal         458691
Frenadas             353959
TiempoRalenti           659
ParMotor                892
Pedal                    19
Embrague            1834593
Id                        0
ConductorNum              0
MatriculaNum              0
dtype: int64

Flota y compania, las sacamos del dataset final ya que solo tienen un valor, no tienen variabilidad.

**Imputaciones de NaN**, las que tengan menos de 500.000 las borramos (5% es asumible), resto ya vemos método de imputación, todas excepto embrague.

Odometro               2443

Velocidad               53

HorasMotor              61

ControlCrucero         736

TemperaturaMotor      1303

RPM                   749

NivelFuel             27761

ConsumoTotal         458691

Frenadas             353959

TiempoRalenti          659

ParMotor               892

Pedal                   19

Embrague            1864593

In [27]:
listaEliminarNa = ['Odometro', 
                   'Velocidad', 
                   'HorasMotor', 
                   'ControlCrucero', 
                   'TemperaturaMotor', 
                   'RPM', 
                   'NivelFuel',
                   'ConsumoTotal',
                   'Frenadas',
                   'TiempoRalenti',
                   'ParMotor',
                   'Pedal'
                  ]

In [28]:
# Bucle para eliminar NaN de columnas de lista anterior
for i in range(len(listaEliminarNa)):
    df = df.dropna(axis=0, subset= [listaEliminarNa[i]])

In [29]:
# Comprobamos eliminación de NaN
df.isnull().sum()

Latitud                   0
Longitud                  0
Altitud                   0
Timestamp                 0
Compania                  0
Matricula                 0
Flota                     0
Conductor                 0
Odometro                  0
Velocidad                 0
HorasMotor                0
ControlCrucero            0
TemperaturaMotor          0
RPM                       0
NivelFuel                 0
ConsumoTotal              0
Frenadas                  0
TiempoRalenti             0
ParMotor                  0
Pedal                     0
Embrague            1653090
Id                        0
ConductorNum              0
MatriculaNum              0
dtype: int64

Nos quedamos con las numéricas y numéricas creadas, descartando las originales, sacamos TimeStamp como datframe, una vez realizada la imputación volvemos a unir por id que coincidan, por esta razón creamos columna **Id** al principio.

In [30]:
dfEnd =df.iloc[:, [0, 1, 2, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]]
dfEnd

,Latitud,Longitud,Altitud,Odometro,Velocidad,HorasMotor,ControlCrucero,TemperaturaMotor,RPM,NivelFuel,ConsumoTotal,Frenadas,TiempoRalenti,ParMotor,Pedal,Embrague,Id,ConductorNum,MatriculaNum
6,37.390972,-5.939639,21,609295.375,0.000,9668.55,0.0,30.0,549.75,70.4,192041.0,5807.0,5847999.0,3465938.0,123444.0,NaN,7,27,41
7,37.390972,-5.939639,21,609295.375,0.000,9668.60,0.0,32.0,549.25,70.4,192041.0,5807.0,5848059.0,3465938.0,123444.0,NaN,8,27,41
8,37.390972,-5.939639,21,609295.375,0.000,9668.60,0.0,33.0,549.00,70.4,192041.0,5807.0,5848119.0,3465938.0,123444.0,NaN,9,27,41
9,37.390972,-5.939639,21,609295.375,0.000,9668.60,0.0,35.0,550.00,70.4,192041.0,5807.0,5848179.0,3465938.0,123444.0,NaN,10,27,41
10,37.390972,-5.939639,21,609295.375,0.000,9668.65,0.0,36.0,548.75,70.4,192041.0,5807.0,5848239.0,3465938.0,123444.0,NaN,11,27,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507803,39.502860,-2.269250,803,79639.815,91.748,1156.40,0.0,78.0,1275.00,49.6,25233.0,251.0,589429.0,373818.0,6983.0,59592.0,10729028,157,63
507804,39.508390,-2.253667,802,79641.310,92.160,1156.40,0.0,78.0,1278.00,49.2,25233.5,251.0,589429.0,373818.0,6983.0,59592.0,10729029,157,63
507805,39.513611,-2.238083,831,79642.800,87.040,1156.45,0.0,79.0,1210.00,49.2,25234.5,251.0,589429.0,373831.0,6983.0,59592.0,10729030,157,63
507806,39.516888,-2.224333,874,79644.095,77.616,1156.45,0.0,84.0,1388.00,49.2,25235.5,251.0,589429.0,373890.0,6983.0,59593.0,10729031,157,63
507807,39.509418,-2.211278,879,79645.550,92.160,1156.45,0.0,86.0,1279.00,49.2,25236.5,251.0,589429.0,373915.0,6983.0,59594.0,10729032,157,63

Creamos el dataframe con Timestamp

In [31]:
dfTime = df.iloc[:, [3, 21]]

In [32]:
dfTime

                       Timestamp        Id
6      2020-01-22 02:57:01+00:00         7
7      2020-01-22 02:58:01+00:00         8
8      2020-01-22 02:59:01+00:00         9
9      2020-01-22 03:00:01+00:00        10
10     2020-01-22 03:01:01+00:00        11
...                          ...       ...
507803 2020-06-22 21:55:46+00:00  10729028
507804 2020-06-22 21:56:46+00:00  10729029
507805 2020-06-22 21:57:46+00:00  10729030
507806 2020-06-22 21:58:46+00:00  10729031
507807 2020-06-22 21:59:46+00:00  10729032

[9507913 rows x 2 columns]

Vamos a imputar los Nan de **Embrague**, interpolando con datos conocidos, podemos verlo en el siguienyte enlace:  
http://pyciencia.blogspot.com/2015/04/trabajar-con-datos-nan-en-dataframe.html

In [33]:
dfEnd = dfEnd.interpolate(method='linear')

In [34]:
dfEnd.isnull().sum()

Latitud                 0
Longitud                0
Altitud                 0
Odometro                0
Velocidad               0
HorasMotor              0
ControlCrucero          0
TemperaturaMotor        0
RPM                     0
NivelFuel               0
ConsumoTotal            0
Frenadas                0
TiempoRalenti           0
ParMotor                0
Pedal                   0
Embrague            11542
Id                      0
ConductorNum            0
MatriculaNum            0
dtype: int64

Realizada la imputación aún queda 11542 que los eliminaremos por ser una cifra muy baja respecto al total de registros.

In [35]:
dfEnd.dropna()

,Latitud,Longitud,Altitud,Odometro,Velocidad,HorasMotor,ControlCrucero,TemperaturaMotor,RPM,NivelFuel,ConsumoTotal,Frenadas,TiempoRalenti,ParMotor,Pedal,Embrague,Id,ConductorNum,MatriculaNum
11811,37.390473,-5.939722,21,759022.915,0.000,12663.10,0.0,12.0,605.5,40.0,261869.0,9614.0,6019315.0,483817.0,130083.0,385986.0,11812,189,106
11812,37.390473,-5.939722,21,759022.915,0.000,12663.10,0.0,14.0,597.5,40.0,261869.0,9614.0,6019375.0,483817.0,130083.0,385986.0,11813,189,106
11813,37.390473,-5.939722,21,759022.915,0.000,12663.10,0.0,16.0,599.0,40.0,261869.5,9614.0,6019435.0,483817.0,130083.0,385986.0,11814,189,106
11814,37.390473,-5.939722,21,759022.925,3.384,12663.15,0.0,18.0,598.0,40.0,261869.5,9614.0,6019484.0,483817.0,130083.0,385988.0,11815,189,106
11815,37.390473,-5.939722,21,759022.940,0.000,12663.15,0.0,20.0,600.0,40.0,261869.5,9614.0,6019528.0,483817.0,130083.0,385989.0,11816,189,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507803,39.502860,-2.269250,803,79639.815,91.748,1156.40,0.0,78.0,1275.0,49.6,25233.0,251.0,589429.0,373818.0,6983.0,59592.0,10729028,157,63
507804,39.508390,-2.253667,802,79641.310,92.160,1156.40,0.0,78.0,1278.0,49.2,25233.5,251.0,589429.0,373818.0,6983.0,59592.0,10729029,157,63
507805,39.513611,-2.238083,831,79642.800,87.040,1156.45,0.0,79.0,1210.0,49.2,25234.5,251.0,589429.0,373831.0,6983.0,59592.0,10729030,157,63
507806,39.516888,-2.224333,874,79644.095,77.616,1156.45,0.0,84.0,1388.0,49.2,25235.5,251.0,589429.0,373890.0,6983.0,59593.0,10729031,157,63
507807,39.509418,-2.211278,879,79645.550,92.160,1156.45,0.0,86.0,1279.0,49.2,25236.5,251.0,589429.0,373915.0,6983.0,59594.0,10729032,157,63

In [36]:
dfEnd.isnull().sum()

Latitud                 0
Longitud                0
Altitud                 0
Odometro                0
Velocidad               0
HorasMotor              0
ControlCrucero          0
TemperaturaMotor        0
RPM                     0
NivelFuel               0
ConsumoTotal            0
Frenadas                0
TiempoRalenti           0
ParMotor                0
Pedal                   0
Embrague            11542
Id                      0
ConductorNum            0
MatriculaNum            0
dtype: int64

No las ha borrado, probamos con otro método.

In [37]:
# Eliminamos filas con NAN, en Embrague que es en la única que quedan
dfEnd = dfEnd[~np.isnan(dfEnd).any(axis=1)]

In [38]:
dfEnd.isnull().sum()

Latitud             0
Longitud            0
Altitud             0
Odometro            0
Velocidad           0
HorasMotor          0
ControlCrucero      0
TemperaturaMotor    0
RPM                 0
NivelFuel           0
ConsumoTotal        0
Frenadas            0
TiempoRalenti       0
ParMotor            0
Pedal               0
Embrague            0
Id                  0
ConductorNum        0
MatriculaNum        0
dtype: int64

In [39]:
dfTime.isnull().sum()

Timestamp    0
Id           0
dtype: int64

Vamos a pasar la mayoría de variables a tipo **int** ya que float ocupa mucha memoria y da problemas de memoria valga la redundancia. Dejamos **ConsumoTotal** que va realizando anotaciones cada 0.5, y como será nuestra variable objetivo pues para que sea más fidedigna, también dejamos como float **Odometro**..

In [40]:
columnas = ['Velocidad', 'TemperaturaMotor', 'Frenadas', 'TiempoRalenti', 'ParMotor', 'Pedal', 'Embrague', 'RPM', 
            'ControlCrucero', 'NivelFuel', 'HorasMotor']

In [41]:
for c in columnas:
    dfEnd[c] = dfEnd[c].astype(int)

In [42]:
dfEnd.dtypes

Latitud             float64
Longitud            float64
Altitud               int64
Odometro            float64
Velocidad             int32
HorasMotor            int32
ControlCrucero        int32
TemperaturaMotor      int32
RPM                   int32
NivelFuel             int32
ConsumoTotal        float64
Frenadas              int32
TiempoRalenti         int32
ParMotor              int32
Pedal                 int32
Embrague              int32
Id                    int32
ConductorNum          int32
MatriculaNum          int32
dtype: object

In [43]:
finalDF = pd.merge(dfEnd, dfTime)

In [44]:
dfEnd.shape

(9496371, 19)

In [45]:
dfTime.shape

(9507913, 2)

In [46]:
finalDF

,Latitud,Longitud,Altitud,Odometro,Velocidad,HorasMotor,ControlCrucero,TemperaturaMotor,RPM,NivelFuel,ConsumoTotal,Frenadas,TiempoRalenti,ParMotor,Pedal,Embrague,Id,ConductorNum,MatriculaNum,Timestamp
0,37.390473,-5.939722,21,759022.915,0,12663,0,12,605,40,261869.0,9614,6019315,483817,130083,385986,11812,189,106,2020-01-22 11:33:27+00:00
1,37.390473,-5.939722,21,759022.915,0,12663,0,14,597,40,261869.0,9614,6019375,483817,130083,385986,11813,189,106,2020-01-22 11:34:27+00:00
2,37.390473,-5.939722,21,759022.915,0,12663,0,16,599,40,261869.5,9614,6019435,483817,130083,385986,11814,189,106,2020-01-22 11:35:27+00:00
3,37.390473,-5.939722,21,759022.925,3,12663,0,18,598,40,261869.5,9614,6019484,483817,130083,385988,11815,189,106,2020-01-22 11:36:27+00:00
4,37.390473,-5.939722,21,759022.940,0,12663,0,20,600,40,261869.5,9614,6019528,483817,130083,385989,11816,189,106,2020-01-22 11:37:27+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9496366,39.502860,-2.269250,803,79639.815,91,1156,0,78,1275,49,25233.0,251,589429,373818,6983,59592,10729028,157,63,2020-06-22 21:55:46+00:00
9496367,39.508390,-2.253667,802,79641.310,92,1156,0,78,1278,49,25233.5,251,589429,373818,6983,59592,10729029,157,63,2020-06-22 21:56:46+00:00
9496368,39.513611,-2.238083,831,79642.800,87,1156,0,79,1210,49,25234.5,251,589429,373831,6983,59592,10729030,157,63,2020-06-22 21:57:46+00:00
9496369,39.516888,-2.224333,874,79644.095,77,1156,0,84,1388,49,25235.5,251,589429,373890,6983,59593,10729031,157,63,2020-06-22 21:58:46+00:00
9496370,39.509418,-2.211278,879,79645.550,92,1156,0,86,1279,49,25236.5,251,589429,373915,6983,59594,10729032,157,63,2020-06-22 21:59:46+00:00

In [47]:
# Eliminamos columna Id que ya no la necesitamos
finalDF = finalDF.drop(['Id'], axis = 1)

In [48]:
finalDF

,Latitud,Longitud,Altitud,Odometro,Velocidad,HorasMotor,ControlCrucero,TemperaturaMotor,RPM,NivelFuel,ConsumoTotal,Frenadas,TiempoRalenti,ParMotor,Pedal,Embrague,ConductorNum,MatriculaNum,Timestamp
0,37.390473,-5.939722,21,759022.915,0,12663,0,12,605,40,261869.0,9614,6019315,483817,130083,385986,189,106,2020-01-22 11:33:27+00:00
1,37.390473,-5.939722,21,759022.915,0,12663,0,14,597,40,261869.0,9614,6019375,483817,130083,385986,189,106,2020-01-22 11:34:27+00:00
2,37.390473,-5.939722,21,759022.915,0,12663,0,16,599,40,261869.5,9614,6019435,483817,130083,385986,189,106,2020-01-22 11:35:27+00:00
3,37.390473,-5.939722,21,759022.925,3,12663,0,18,598,40,261869.5,9614,6019484,483817,130083,385988,189,106,2020-01-22 11:36:27+00:00
4,37.390473,-5.939722,21,759022.940,0,12663,0,20,600,40,261869.5,9614,6019528,483817,130083,385989,189,106,2020-01-22 11:37:27+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9496366,39.502860,-2.269250,803,79639.815,91,1156,0,78,1275,49,25233.0,251,589429,373818,6983,59592,157,63,2020-06-22 21:55:46+00:00
9496367,39.508390,-2.253667,802,79641.310,92,1156,0,78,1278,49,25233.5,251,589429,373818,6983,59592,157,63,2020-06-22 21:56:46+00:00
9496368,39.513611,-2.238083,831,79642.800,87,1156,0,79,1210,49,25234.5,251,589429,373831,6983,59592,157,63,2020-06-22 21:57:46+00:00
9496369,39.516888,-2.224333,874,79644.095,77,1156,0,84,1388,49,25235.5,251,589429,373890,6983,59593,157,63,2020-06-22 21:58:46+00:00
9496370,39.509418,-2.211278,879,79645.550,92,1156,0,86,1279,49,25236.5,251,589429,373915,6983,59594,157,63,2020-06-22 21:59:46+00:00

El set original partía con 10729032 registros y nos quedamos con 9496371 , hemos eliminado un 11 % que es asumible.
Guardamos en csv para probar en Spark

In [49]:
#finalDF.to_csv ('wemob.csv')

9 minutos tarda en ejecutarse todo el código en mi equipo.